<div class="search-result">
  <a href="{{game.url}}" target="_blank">
    <h2 class="game-name">{{game.name}}</h2>
    <section>
      <div class="game-left">
        <img src="{{game.image}}" />
      </div>
      <div class="game-right">
        <div *ngIf="game.highestPrice > game.lowestPrice; else singlePriceTemplate">
          <span>Lowest Price: {{game.lowestPrice}} kr</span>
          <br>
          <span class="{{game.currentPrice < game.highestPrice ? 'game-hasdiscount' : ''}}">Highest Price: {{game.highestPrice}} kr</span>
        </div>
        <ng-template #singlePriceTemplate>
          <span class="{{game.currentPrice < game.highestPrice ? 'game-hasdiscount' : ''}}">Price: {{game.highestPrice}} kr</span>
        </ng-template>
        <br />
        <br />
        <label class="stock">In stock:
          <i class="symbol icon-{{game.available ? 'tick' : 'error'}}"></i>
        </label>
      </div>
    </section>
  </a>
</div>