<div class="search-result">
  <a href="{{game.url}}" target="_blank">
    <img src="{{game.image}}" />
    <br />


    <span class="game-name">{{game.name}}</span>
    <br />
    <br />
    <span class="game-name {{game.currentPrice < game.highestPrice && game.available ? 'game-highlight' : ''}}">Price: {{game.currentPrice}} kr</span>
    <br />
    <br />
    <span class="game-name">Lowest Price: {{game.lowestPrice}} kr</span>
    <br />
    <br />
    <span class="game-name {{game.currentPrice < game.highestPrice && game.available ? 'game-hasdiscount' : ''}}">Highest Price: {{game.highestPrice}} kr</span>
    <br />
    <br />
    <label class="stock">In stock:
      <i class="symbol icon-{{game.available ? 'tick' : 'error'}}"></i>
      <span>{{game.available}}</span>
    </label>

  </a>
</div>