<div>
  <h1 class="sample-content">Spel Sniffer</h1>

  <hr>

  <div>
    <h4>Nyheter</h4>
    <div *ngFor="let site of sites | async" class="site-result">
      <h1>{{site.name}}</h1>
      <div *ngFor="let game of site.games" class="search-result">
        <a href="{{game.url}}" target="_blank">
          <img src="{{game.image}}" />
          <br />


          <span class="game-name">{{game.name}}</span>
          <br />
          <br />
          <span class="game-name">Price: {{game.price}}</span>
          <br />
          <br />
          <label class="stock">In stock:
            <i class="symbol icon-{{game.available ? 'tick' : 'error'}}"></i>
            <span>{{game.available}}</span>
          </label>


        </a>
      </div>
    </div>
  </div>
  <br style="clear: both" />
</div>