<div>
  <h1 x-large class="sample-content">Spel Sniffer</h1>

  <hr>

  <div>
    <h4>Search for Spel</h4>

    <form (ngSubmit)="search(searchTerm.value)" autocomplete="off">

      <input [value]="searchTerm.value" (input)="searchTerm.value = $event.target.value" placeholder="Enter spel name to search"
        autofocus>

      <button>Search</button>
    </form>
    <!-- <button (click)="track(sites.value)" *ngIf="trackable">Track</button> -->
    <div *ngFor="let site of sites | async" class="site-result">
      <h1>{{site.name}}</h1>
      <game *ngFor="let game of site.games" [game]="game"></game>
    </div>

    <br style="clear: both" />
  </div>
</div>